<h1>Formulário de noticia</h1>

<form action="/add-post" method="post">
    <div>
        <label>Título:</label>
        <input name="titulo" type="text" placeholder="Informe o título...">
    </div>
    <div>
        <label>Sub-título:</label>
        <input name="subtitulo" type="text" placeholder="Informe o subtítulo...">
    </div>
    <div>
        <label>Artigo:</label>
        <textarea name="artigo" placeholder="Informe o título..."></textarea>
    </div>
    <div>
        <label>Data de publicação:</label>
        <input name="data_publicacao" type="date" >
    </div>
    <div>
        <label>Autor:</label>
        <input name="autor" type="text" placeholder="Informe o autor...">
    </div>
    <div>
        <label>Fonte:</label>
        <input name="fonte" type="text" placeholder="Informe a fonte...">
    </div>
    <input type="submit" value="Salvar">
</form>