{{!-- {{#with noticia}} --}}
<h1>{{noticia.titulo}}</h1>
<h2>{{noticia.subtitulo}}</h2>

<a href="/edit/noticia/{{noticia.id}}">
    <button>Editar</button>
</a>
<form action="/delete-post/{{noticia.id}}" method="post">
    <button type="submit">Apagar</button>
</form>

{{!-- {{/with}} --}}